textarea {
	background-color: white;
}

/* woofmark */
.wk-textfield {
	min-height: 126px;
	height: auto;
}

.wk-wysiwyg {
	overflow: auto;
}

.wk-hide {
	display: none !important;
}

.wk-switchboard {
	float: right;
}

.wk-mode-active {
	background-color: #ece0f1;
}

.wk-command, .wk-mode {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 4px;

	color: #333;
	background: #fff none;
	border: 1px solid #ccc;
}

.wk-commands,
.wk-switchboard {
	display: inline-block;
	margin-top: 5px;
}

.wk-switchboard .wk-mode-active {
	background-color: #e0eeff;
}

/** selectbox */
.select_wrapper {
	position: relative;
}

.js_foreign {
	position: absolute;
	top: -30px;
}

.row_filter {
	width: 100%;
}

.list_filter {
	width: 100%;
}

/** image selector */
#image_selector .row:hover {
	background-color: #e8f3ff;
}

#image_selector .modal-body {
	padding-top: 5px;
}

#image_selector .row i {
	font-size: 30px;
	vertical-align: middle;
	margin-right: 10px;
}

#image_selector .row .col-md-10 {
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
}

#image_selector .row .col-md-2 {
	text-align: right;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 40px;
}

#image_selector .modal-body .row:last-child .col-md-10, #image_selector .modal-body .row:last-child .col-md-2 {
	border: none;
}

#image_selector .pointer {
	cursor: pointer;
}

/** object extensions */
.extension_holder {
	margin-bottom: 5px;
}