textarea {
	background-color: white;
}

/* woofmark */
.wk-hide {
	display: none !important;
}

.wk-switchboard {
	float: right;
}

.wk-mode-active {
	background-color: #ece0f1;
}

.wk-command, .wk-mode {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 4px;

	color: #333;
	background: #fff none;
	border: 1px solid #ccc;
}

.wk-commands,
.wk-switchboard {
	display: inline-block;
}

/** selectbox */
.select_wrapper {
	position: relative;
}

.js_foreign {
	position: absolute;
	top: -30px;
}