.hidden {
	display: none;
}

.cl {
	color: rebeccapurple;
}

.navbar-header {
	width: 100%;
}

.navbar {
	padding: 0 !important;
	border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
	padding: 0 !important;
}
.navbar-brand img {
	height: 50px;
}

.navbar-user-icon {
	width: 32px;
	height: 32px;
	float: right;

	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	border-radius: 32px;
	border: 1px solid gray;
	line-height: 27px;
}

.navbar-user-wrapper {
	float: right;
	position: relative;
	padding-top: 8px;
	padding-right: 8px;
	z-index: 10;
}

.navbar-user-holder {
	display: none;
	width: 200px;
	position: absolute;
	right: 8px;

	padding-top: 41px;
}

.navbar-user-icon:hover ~ .navbar-user-holder, .navbar-user-holder:hover {
	display: block;
}

.navbar-user-tooltip {
	background-color: #e8e8e8;
	border-radius: 3px;
	line-height: 30px;
}

.navbar-user-tooltip::after {
	content: '';
	position: absolute;
	right: 5px;
	top: 31px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e8e8e8;
}

.navbar-user-tooltip hr {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-user-tooltip a, .navbar-user-tooltip span {
	margin-left: 5px;
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #eee;
}

#jakon_messages {
	position: absolute;
	top: 25px;
	width: 60%;
	z-index: 200;
	padding: 0 20px 0 20px;
	left: 25%;
}

#jakon_messages .alert {
	margin-bottom: 0;
	position: relative;
}

#jakon_messages .closeAlert {
	position: absolute;
	right: 15px;
	top: 46%;
	font-size: 24px;
}

.changeOrder {
	text-decoration: none;
}

.fa.fa-check-circle {
	color: green;
}

.fa.fa-times-circle {
	color: firebrick;
}

.oauthBtn {
	height: 46px;
}

.panel-body {
	overflow-x: auto;
}

/* side menu */
.sidebar #menu_objects, #menu_jakon_objects {
	padding-left: 15px;
}
.nav-item {
	border-bottom: 1px solid #e7e7e7;
}
.nav-link.active {
	background-color: #eeeeee;
}